Adafruit-Blinka==3.0.6
adafruit-circuitpython-ads1x15==2.1.1
adafruit-circuitpython-busdevice==4.0.1
Adafruit-PlatformDetect==1.3.6
Adafruit-PureIO==0.2.3
pigpio==1.44
pigpio-dht==0.3.6
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
spidev==3.4
sysv-ipc==1.0.1
